<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Built_In_Filters</h1>
        <h2>{{data}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|lower}}</h2>
        <h2>{{data|capfirst}}</h2>
        <h2>{{data|title}}</h2>
        <h2>{{data|length}}</h2>
        <h2>{{data|truncatewords:'5'}}</h2>
        <h2>{{data|truncatechars:'22'}}</h2>
        <h2>{{data|upper}}</h2>
        <h2>{{data|upper}}</h2>
        <hr>
        <h1>This is For Plurals</h1>
        <h2>dhoni have {{c}} Cup </h2>
        <h2>dhoni have {{c}} Cup{{c|pluralize}}</h2>
        <h2>dhoni have {{c}} Mango{{c|pluralize:'es'}}</h2>
        <h2>This Marker{{c|pluralize:'s'}} {{c|pluralize:'is,are'}} Mine</h2>
        <hr>
        <h1>This is For Time Formats</h1>
        <h2>{{dt}}</h2>
        <h2>{{dt|date:'F'}}</h2>
        <h2>{{dt|date:'Y'}}</h2>
        <h2>{{dt|date:'j'}}</h2>
        <h2>{{dt|date:'m'}}</h2>
    </center>
</body>
</html>